.temp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.brand-card-wrapper {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
}

.offer-cards-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
}

.main-wrap-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 85%;
    margin: 8rem auto 0rem auto;
}

.main-wrap-heading {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.main-wrap-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width : 400px) {
    .temp {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width : 1000px) {
    .main-wrap-container {
        width: 90% !important;
    }

    .main-wrap-heading {
        font-size: 1.4rem !important;
    }
}